.demo{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    display: block;
    background-color: green;
    transform: rotate(360deg);
    transition: all ease;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    margin-left: 40%; */
   position: relative;
}
p{
    position: absolute;
    top: 50%;
    left: 50%;
}
button{
    background-color: indigo;
    color: white;
    margin-top: 5px;
    padding: 5px 8px;

}
.div{
    width: 200px;
    height: 200px;
    display: block;
    background-color: yellow;
    border-radius: 50%;
}
